body {
  background-color: #ffff99;
  /* text-align: ; */
  font-family: arial;
  font-size: 30px;
  font-weight: bold;
  display: flex;
  flex-direction: column-reverse;
}

#tea-rating-form {
  border: 2px solid;
}

#ratings-list {
  border: 3px;
}

#rating-labels label {
  margin: 2px;
}

#save {
  font-size: 20px;
}

#delete {
  font-size: 20px;
}

.media-card {
  width: 25rem;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,5);
  transition: 0.3s;
  border-radius: 5px;
}

.flex {
  display: flex;
  flex-direction: column-reverse;
}

ul {
  list-style: none;
}
